{% comment %}
Placeholder to allow defining custom head. You can put favicons and other custom header fields here
{% endcomment %}

<meta name="google-site-verification" content="27E2JEQt6VW64aG4yX5wZPYTAxCqGiKdB38C5QeZSCw" />
<meta name="google-site-verification" content="_xvCJbyUYkZ7uQWVhQEBCtzTPsn8PLoGK81xQtg35TU" />

<!-- Cloudflare Web Analytics -->
<script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0abe1871cadb448a970845342607d318"}'></script>
<!-- End Cloudflare Web Analytics -->
